{% extends 'structures/base.html' %}

{% block content  %}
<h1>How Good Is Your Entrepreneurial Gut?</h1>

<div class="panel panel-default">
<div class="panel-body">

<p>
  Do you have a knack for business? Are you often able to predict the success or demise of new products?
</p>

<p>
  Put your abilities to the test! Take our quiz and find out whether you can tell how successful an app is just based on its name and icon.
</p>

</div>
</div>

<a type="button" class="btn btn-default" href="{% url survey.views.informedConsent %}">Take the Quiz</a>

{% endblock content %}

