<div class="panel panel-default">
<div class="panel-body">

<p>
Our names are Paola Mariselli, Sierra Okolo, and Chi Zeng. We are students at Harvard University studying the design of usable interfaces.
</p>

<p>
In this study, we are exploring the success of Android apps. If you volunteer to participate in this study, you may be asked to compare Android apps and briefly explain your decisions. Participation in this study may take approximately 15 seconds of your time per Android app you examine.
</p>

<p>
The results of this research will be used for educational and research purposes. They will be incorporated into reports on this assignment that may be placed on a Harvard University educational website that is public and may be used in presentations by us and by Harvard to illustrate the work that we do and/or to help advance engineering or educational work. No identifying information will be included in these reports or presentations.
</p>

<p>
There are no benefits to you for participating, other than what may be an educational experience in using some new technologies and learning about the design process. We also hope that this will be a fun and interesting process for you.
</p>

<p>
We expect that this research poses no risks to you other than those normally encountered in daily life. Please do not disclose any information that you feel would put you at risk.
</p>

<p>
All of the information from your session will be kept confidential and be referred to by an ID number. We will not record any association between this ID number and you. For example, we will not link this ID number with your IP address or name. The results of our work will be presented on a public website. We will not name you if and when we discuss your behavior on that website or in research publications. After the research is completed, we may save the notes for future use by ourselves or others. However, this same confidentiality guarantees given here will apply to future storage and use of the materials.
</p>

<p>
Your participation in this research is voluntary, and you are free to refuse to participate or quit the experiment at any time without penalty.
</p>

<p>
If you have any further questions or concerns, you can contact Prof. Krzysztof Gajos who is teaching this course. He can be reached at kgajos at eecs.harvard.edu.
</p>

<p>
You may keep a copy of this form for reference.
By clicking the button below, you indicate that you have read and accepted these terms.
</p>

</div>
</div>

<a type="button" class="btn btn-default" href='{% url survey.views.personData %}'>
  I accept these terms and conditions. Now, test me! 
</a>

