<h2>Statement of Informed Consent</h2>

<p>
Our names are Paola Mariselli-Huggins, Sierra Okolo, and Chi Zeng. We are students at Harvard University studying Android apps for a class on the design of usable interfaces. We can be contacted by email at paolamariselli@fas.harvard.edu, sokolo@fas.harvard.edu, and zeng@college.harvard.edu.
</p>

<p>
We are testing what matters in determining how successful the page of an Android app is. If you volunteer to participate in this study, you may be asked to rate Android apps on a number of measures and possibly explain your answers. Participation in this study may take approximately 2 minutes of your time per Android app you examine.
</p>

<p>
The results of this research will be used for educational and research purposes. They will be incorporated into reports on this assignment that may be placed on a Harvard University educational website that is public and may be used in presentations by us and by Harvard to illustrate the work that we do and/or to help advance engineering or educational work. No identifying information will be included in these reports or presentations.
</p>

<p>
There are no benefits to you for participating, other than what may be an educational experience in using some new technologies and learning about the design process. We also hope that this will be a fun and interesting process for you.
</p>

<p>
We expect that this research poses no risks to you other than those normally encountered in daily life. Please do not disclose any information that you feel would put you at risk.
</p>

<p>
All of the information from your session will be kept confidential and be referred to by an ID number. We will not record any association between this ID number and you. For example, we will not link this ID number with your IP address or name. The results of our work will be presented on a public web site. We will not name you if and when we discuss your behavior on that web site or in research publications. After the research is completed, we may save the notes for future use by ourselves or others. However, this same confidentiality guarantees given here will apply to future storage and use of the materials.
</p>

<p>
Your participation in this research is voluntary, and you are free to refuse to participate or quit the experiment at any time without penalty.
</p>

<p>
If you have any further questions or concerns, you can contact prof. Krzysztof Gajos who is teaching this course.  He can be reached at kgajos@eecs.harvard.edu or at 617-496-1876.
</p>

<p>
You may keep a copy of this form for reference.
</p>

<p>
If you accept these terms, please say so. To protect your privacy, we do not require written consent from you.
</p>

<a href='{% url survey.views.personData %}'>
  I accept these terms and conditions. Now, test me! 
</a>

